<!DOCTYPE html>
<html>
    <link rel="stylesheet", href="style.css">
    <head>
        <title>Baghii Stickers</title>          
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" >   
    </head>
    <body>
        <div1>
            <button onclick="clickSticker()">To home</button>
            <script>
                function clickSticker(){
                    location.replace('/home')
                }
            </script>
        </div1>
    </body>
<html>