<!DOCTYPE html>
<html>
    
    <head>
        <script src="{{ url_for('static', filename='home.js')}}"></script>
        <link rel="stylesheet" href="../static/styles/style.css">
        <title>Baghii Stickers</title>          
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" >   
    </head>

    <body onload="Load()">
        <section class="section-1">

        </section>
        <section class="section-2">
            <div class="container">
             <div class = "sticker">
                    <input class="img_S" type="image" id="sticker_id" src="../static/sticker.jpg" />
                </div>
            </div>
        </section>
        <section class="section-3">
            <div class="container">
                <div class = "printed">
                    <input class="img_3d" type="image" src="../static/printed.jpg" id="3d" onclick="clickImage" />
                    <script>
                        document.getElementById("3d").addEventListener("click", clickImage);
                        function clickImage(){
                            location.replace('/stickers')
                        }
                    </script>
                </div>
            </div>
        </section>
    </body>
<html>