<!DOCTYPE html>
<html>
    <link rel="stylesheet", href="../static/styles/style.css">
    <head>
        <title>Baghii Stickers</title>          
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" >   
    </head>
    <body>
        <div class="">
            <input type="button" onclick="clickSticker()">To home</div><input>
            <script>
                function clickSticker(){
                    location.replace('/home')
                }
            </script>
        </div>
    </body>
<html>